---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex flex-col items-center justify-center min-h-screen text-center p-4 bg-dark-blue w-full h-full text-pastel"
  >
    <h1 class="text-4xl font-parisienne mb-8">Bodas Únicas</h1>
    <p class="font-abeezee mb-12">Bienvenido a la galería de invitaciones</p>

    <a
      href="/tema1"
      class="px-8 py-4 bg-pastel text-dark-blue font-bold rounded-full shadow-2xl hover:scale-110 transition-transform w-full max-w-[250px]"
    >
      Ver Tema 1 (Moderno)
    </a>
    <a
      href="/tema2"
      class="px-8 py-4 bg-pastel text-dark-blue font-bold rounded-full shadow-2xl hover:scale-110 transition-transform w-full max-w-[250px]"
    >
      Ver Tema 2 (Elegante)
    </a>
    <a
      href="/tema3"
      class="px-8 py-4 bg-pastel text-dark-blue font-bold rounded-full shadow-2xl hover:scale-110 transition-transform w-full max-w-[250px]"
    >
      Ver Tema 3 (Premium)
    </a>
  </div>
</Layout>
