<section class="reveal flex flex-col w-full bg-dark-blue-3">
  <div
    class="flex flex-col items-center text-center w-full relative mt-20 my-10"
  >
    <h2
      class="text-3xl sm:text-4xl font-yrsa tracking-[0.25em] text-pastel uppercase w-3/4 mx-auto text-center mb-2"
    >
      Codigo de vestimenta
    </h2>
    <p class="text-sm sm:text-base font-abeezee text-white/95 mb-4 tracking-wide">Formal</p>
    <img 
      src="/assets/flores.png" 
      class="h-10 mb-4 z-10" 
      style="filter: invert(88%) sepia(21%) saturate(760%) hue-rotate(331deg) brightness(93%) contrast(92%);" 
    />
  </div>

  <div
    class="flex flex-col items-center text-center w-3/4 mx-auto relative mb-40"
  >
    <img 
      src="/assets/flores.png" 
      class="h-10 mb-4 z-10" 
      style="filter: invert(88%) sepia(21%) saturate(760%) hue-rotate(331deg) brightness(93%) contrast(92%);" 
    />
    <h2
      class="text-3xl sm:text-4xl font-yrsa tracking-[0.25em] text-pastel uppercase w-3/4 mx-auto text-center mb-2"
    >
      Regalos
    </h2>
    <p class="text-sm sm:text-base font-abeezee text-white/80 mb-6 tracking-wide">
      Tu compañía es el mejor regalo Pero si quieres darnos un detalle, puedes
      hacerlo a través de nuestra mesa de regalos.
    </p>
    <button
      class="bg-pastel text-dark-blue-3 font-abeezee text-xs tracking-widest py-2 px-6 rounded-full hover:scale-105 transition-transform shadow-md font-bold"
    >
      Mesa de regalos
    </button>
  </div>
</section>
