<section class="reveal flex flex-col w-full relative overflow-hidden">
  <img
    src="/assets/leaf.png"
    class="absolute top-0 left-[-5%] md:w-60 w-40"
  />
  <div
    class="flex flex-col items-center text-center w-full relative mt-40 my-10"
  >
    <h3 class="text-2xl sm:text-3xl text-dark-blue font-yrsa mb-2">
      Codigo de vestimenta
    </h3>
    <p class="text-sm sm:text-base font-abeezee mb-4 tracking-wide">Formal</p>
    <img src="/assets/flores.png" class="h-10 mb-4 z-10" />
  </div>

  <div
    class="flex flex-col items-center text-center w-3/4 mx-auto relative mb-40"
  >
    <img src="/assets/flores.png" class="h-10 mb-4 z-10" />
    <h3 class="text-2xl sm:text-3xl text-dark-blue font-yrsa mb-2">Regalos</h3>
    <p class="text-sm sm:text-base font-abeezee mb-4 tracking-wide">
      Tu compañía es el mejor regalo Pero si quieres darnos un detalle, puedes
      hacerlo a través de nuestra mesa de regalos.
    </p>
    <button
      class="bg-dark-blue text-white font-abeezee text-xs tracking-widest py-2 px-6 rounded-full hover:scale-105 transition-transform shadow-md"
    >
      Mesa de regalos
    </button>
  </div>
  <img
    src="/assets/leaf.png"
    class="absolute bottom-0 right-[-5%] md:w-60 w-40 rotate-180"
  />
</section>
